<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	<a class="navbar-brand" href="#">SPORTS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="#" routerLink="/users">Users</a></li>
			<li class="nav-item"><a class="nav-link" href="#" routerLink="/add">Add User</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
		</ul>
	</div>
</nav>
<div class="container-fluid">
	<router-outlet></router-outlet>
</div>
<footer class="page-footer font-small blue pt-4 mt-4">
	<!-- Copyright -->
    <div class="footer-copyright text-center py-3">
    	&copy; All rights reserved for <i> Sports App </i> 2018
    </div>
    <!-- Copyright -->
	
</footer>
