<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<h2 class="text-center">User Details</h2>
		<alert></alert>
		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th class="hidden">Id</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td class="hidden">{{ user.id}}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.email}}</td>
					<td><button class="btn btn-danger" (click)="deleteUser(user)">
							Delete User</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>